<div class="col-10 offset-1 about">
  <h1>About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="http://github.com/jvbigio">Joe</a>. An aspiring full-stack web developer & student of The Firehose Project. This app is a quote generator that allows users to read and input quotes about health advice and inspirational quotes.
  </p>
  <br />
  <p>
    Built with a mobile-first design, this database-powered quote generator uses the Ruby on Rails framework, HTML, and CSS. Git and GitHub was used for version control, and this awesome app was launched through Heroku.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'me.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Joe Bigio</h2>
      <br />
      <p>
        Joe Bigio is an aspiring web developer and student at The Firehose Project. He earned his bachelor's degree in information systems with an emphasis in cybersecurity. He is currently working on mastering his craft in web development and loves taking on new challenges.
      </p>
      <p>
        Aside from taking on new challenges, Joe loves getting outdoors and being physically active. Some of his favorite activities are trail running, hiking, cycling, and crossfit type workouts. Exercising the mind through learning new things, as well as staying positive are also equally important.
      </p>
    </div>
  </div>

</div>

<br class="clear">
<br />
<br />
<br />
<br />

